:root {
    /* Cores */
    --red-default: #ca1c2a;
    --red-default-hover: #f00a2c;
    --blue-default: #0077c7;
    --blue-text-default: #005a96;
    --blue-border-img: #005a96;
    --blue-card: #ffffff;
    --sombra-card: #979797;
    --text-event: #7e7e7e;
    --blue-default-hover: #008fee;
    --cinza: #979797;
    --cor-cards: #ffffff;
    --cor-texts: #000000;
    --cor-bg: #ffffff;
    /* Gradiente de Cores */
    --gradiente-vermelho: linear-gradient(340deg, #ED0707 0%, #030513 100%);
    /* img color */
    --filter: invert(0%);
}
.dark-mode:root {
    /* Cores */
    --cinza: #db3d3dbe;    
    --blue-card: #004472;
    --sombra-card: #1c9be4;
    --blue-border-img: #ffffff;
    --cor-cards: #910000;
    --cor-texts: #ffffff;
    --cor-bg: #202124;
    /* Gradiente de Cores */
    --gradiente-vermelho: linear-gradient(340deg, #ED0707 0%, #030513 100%);
    /* img color */
    --filter: invert(100%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
body {
    display: flex;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    color: var(--cor-texts) !important;
    background-color: var(--cor-bg) !important;
}
main {
    margin: 0rem;
}
.navbar {
    z-index: 100;
  }
/* ====- Toda Página -==== */
.elementor-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.9rem;
}
/* ==- Linha de baixo do texto (span) -== */
.divider-separator {
    display: inline-block;
    height: 0.1875rem;
    background-color: var(--red-default);
    background-position: left bottom;
    background-size: 100% 0.125rem;
    border-radius: 3.125rem;
    margin-right: 0.5em;
    width: 7%;
    margin-bottom: 2.5rem;    
}
.divider-separator-card {
    display: inline-block;
    height: 0.08rem;
    background-color: var(--red-default);
    background-position: left bottom;
    background-size: 100% 0.125rem;
    border-radius: 3.125rem;
    margin-right: 0.5em;
    width: 20%;
    margin-top: -0.7rem;
    margin-bottom: 2rem;
}
/* =- Linha no título -= */
.divider-separator-head {
    width: 20%;
}
/* =-=- Seções -=-= */
.elementor-section {
    padding: 0 1.25rem 0;
    width: 100%;
}
/* =-=- Conteúdo da seção -=-= */
.elementor-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
/* --= Elemento seção 1 (Título, subtítulo, botôes) =-- */
.elementor-column {
    padding: 0 0 0 1rem;
}
/* ==== BANNER ==== */
.elementor-banner {
    margin: 0.4rem;
}
.carousel-item {
    transition: transform 0.5s ease;
}
/* ==== Seção 1/3 ==== */
/* -- Espaço topo elemeto 1 seção 1 -- */
.element {
    padding-top: 5rem;
}
/* -- Título -- */
.elementor-title {
    color: var(--blue-text-default);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
/* -- Subtítulo -- */
.elementor-subtitle {
    font-size: 2.9375rem;
    line-height: 1;
    margin-bottom: 1.25rem;
}
/* ==== Seção 2 ==== */
.section-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-bottom: 0.1875rem;
}
.card-container {
    display: flex;
    justify-content: center;
}
.card-box {
    display: flex;
    height: 23rem;
}
.card {
    box-shadow: 0px 0px 0.75rem var(--sombra-card);
    background-color: var(--blue-card) !important;
    width: 20rem;
    margin: 1rem;
    border-radius: 30px;
    position: relative;
    align-content: flex-start;
    padding: 2rem;
    transition: all 0.5s;
}
.card:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;    
}
.card-box :hover h3{
    color: var(--red-default);
}
.card-box :hover img{
    background-color: var(--blue-default-hover);
}
.icon-card img {
    width: 40%;
    float: left;
    transition: all 0.5s;
    border-radius: 50%;
    padding: 0.4rem;
    background-color: var(--blue-default);
    border: 2px solid var(--blue-border-img);
}
.icon-card img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: var(--red-default-hover);    
    border: 2px solid var(--red-default);
}
.card-title {
    text-align: start;
    margin: 0.25rem 0 0;
    padding: 0.5rem 0;
}
.card-title h3 {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--cor-texts);
    transition: all 0.5s;
}
.card-title p {
    margin-top: 1rem;
    font-size: 0.88rem;
    color: var(--cor-texts);
}
.elementor-button {
    font-size: 0.9rem;
    float: right;
    background-color: var(--blue-default);
    color: white;
    text-decoration: none;
    border-style: solid;
    border: 2px solid var(--blue-text-default);
    border-radius: 25px;
    padding: 6px 12px;
    transition: all 0.5s;
}
.elementor-button:hover {
    background-color: var(--blue-default-hover);
    border: 2px solid var(--blue-border-img);
    transition: all 0.3s;
}
/* ==== Seção 4 ==== */
.list-container {
    padding: 0px;
    font-size: 1.3rem;
}
.elementor-list-container ul {
    padding: 0;
    margin: 0;
    text-align: start;
    list-style-type: none;
    line-height: 2.3;
}
.elementor-list-item img {
    width: 90px;
    padding: 0.4rem;
}
.list-image img {
    margin: 0 3rem;
    text-align: center;
    padding: 0;
}
/* ==== Seção 6 ==== */
.container-widgetbox {
    display: flex;
    /* padding: 0 1rem; */
    padding: 1rem;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 4rem;
}
.container-widgetbox::-webkit-scrollbar {
    display: none;
}
.widget {
    display: flex;
    border-radius: 8px;
    margin-right: 1.5rem;
    box-shadow: 0px 0px 0.75rem var(--sombra-card);
}
.elementor-widgetbox-image img {
    border-radius: 0 8px 8px 0px;
}
.elementor-widgetbox-text {
    font-size: 1rem;
    padding: 1.5rem 1.5rem 4rem;
    color: var(--text-event);
}
.elementor-widgetbox-text b {
    width: 100%;
    margin-right: 5rem;
    font-size: 1.4rem;
    color: var(--cor-texts);
}
/* ==== Seção 7 ==== */
.mapa-text {
    position: absolute;
    padding: 2rem;
    z-index: 1;
    color: var(--blue-text-default);
}
.mapa-image img {
    position: relative;
    z-index: 0;
    border-radius: 40px;
    margin-bottom: 4rem;
}
/* ==== Seção 8 ==== */
.elementor-head-title b {
    font-size: 2.3rem;
    color: var(--blue-text-default);
}
.elementor-content {
    font-size: 1.2rem;
    margin-top: 2rem;
}
.elementor-text {
    padding: 2rem;
}
.container-qs {
    display: flex;
    align-items: center;
    padding: 3rem 7rem 7rem;
}
/* ==-- Responsividade --== */
@media screen and (max-width: 768px) {
    .elementor-container {
        display: block;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
        .elementor-section {
            padding: 0 0.625rem 1.25rem 0;
        }
            .elementor-box {
                padding: 0 1rem 0 1.9rem;
            }
                .elementor-column {
                    padding: 0;
                }
                    .elementor-logo img {
                        width: 100%;
                    }
                        .elementor-button {
                            padding: 1rem 2rem;
                            font-size: 1.3rem;
                            text-align: center;
                            line-height: 1;
                        }
                            .fa {
                                margin-left: 0.875rem;
                                font-size: 1rem;
                            }
                                .elementor-image img {
                                    width: 100%;
                                }
                                    .card {
                                        width: 100%;
                                    }
                                        .icon-card img {
                                            max-width: 200px;
                                        }
                                                .elementor-space {
                                                    display: none;
                                                }
                                                        .elementor-head-title b {
                                                            font-size: 1.8rem;
                                                        }
                                                                .elementor-title {
                                                                    margin-top: 2rem;
                                                                    font-size: 1.4rem;
                                                                }
                                                                    .elementor-button {
                                                                        font-size: 0.9rem;
                                                                        padding: 0.75rem 1.25rem;
                                                                    }
                                                                        .elementor-list-item img {
                                                                            width: 50px;
                                                                            padding: 0;
                                                                        }
                                                                            .list-image img {
                                                                                margin: 0 0 2rem 0;
                                                                                width: 100%;
                                                                            }
                                                                                .list-container {
                                                                                    font-size: 0.9rem;
                                                                                }
    .widget {
        display: block;
        margin: 2rem;
    }
    .elementor-widgetbox-image img {
        border-radius: 0 0px 8px 8px;
    }
    .elementor-widgetbox-text {
        height: 300px;
    }

    .mapa-text {
        position: static;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .mapa-text b {
        font-size: 1rem;
    }
    .mapa-image img {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 0;
    }
    .container-qs {
        display: block;
        align-items: center;
        padding: 0rem;
        margin-bottom: 4rem;
    }
    .mapa-container {
        margin-left: 0rem;
    }

}

