:root {
    /* Cores */
    --red-default: #ca1c2a;
    --red-default-hover: #f00a2c;
    --blue-default: #0077c7;
    --blue-default-hover: #008fee;
    --cinza: #979797;
    --cor-texts: #000000;
    --cor-bg: #ffffff;
    /* img color */
    --filter: invert(0%);
}
.dark-mode:root {
    /* Cores */
    --cinza: #db3d3d;
    --cor-texts: #ffffff;
    --cor-bg: #202124;
    /* img color */
    --filter: invert(100%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
body {
    display: flex;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    color: var(--cor-texts) !important;
    background-color: var(--cor-bg) !important;
}
main {
    padding: 0rem;
}
/* ====- Toda Página -==== */
.elementor-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.9rem;
}
/* ==- Linha de baixo do texto (span) -== */
.divider-separator {
    display: inline-block;
    height: 0.1875rem;
    background-color: var(--red-default);
    background-position: left bottom;
    background-size: 100% 0.125rem;
    border-radius: 3.125rem;
    margin-right: 0.5em;
    width: 7%;
    margin-bottom: 2.5rem;    
}
/* =- Linha no título -= */
.divider-separator-head {
    width: 20%;
}
/* =-=- Seções -=-= */
.elementor-section {
    padding: 0 1.25rem 0;
    width: 100%;
}
/* =-=- Conteúdo da seção -=-= */
.elementor-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
/* --= Elemento seção 1 (Título, subtítulo, botôes) =-- */
.elementor-column {
    padding: 0 0 0 1rem;
}
/* ==== Seção 1 ==== */
/* -- Espaço topo elemeto 1 seção 1 -- */
.element {
    padding-top: 5.625rem;
}
/* -- Título -- */
.elementor-title {
    font-size: 2.3rem;
    margin-top: 1.0625rem;
}
/* -- Subtítulo -- */
.elementor-subtitle {
    font-size: 1.7rem;
    line-height: 1.7;
    margin-bottom: 1.25rem;
}
/* -- Botão "Cadastre-se" e "Fale com..." -- */
.elementor-button {
    padding: 0.5rem 1.875rem;
    border-radius: 0.375rem;
    margin-top: 1.25rem;
    cursor: pointer;
}
/* -- Icon seta botões -- */
.elementor-button span {
    font-weight: 600;
}
.elementor-button a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
/* -- Botão "Cadastre-se" -- */
.btn-cad {
    background-color: var(--red-default);
    transition: all 0.5s;
}
.btn-cad:hover {
    background-color: var(--red-default-hover);
    transition: all 0.5s;
}
/* -- Botão "Fale com..." -- */
.btn-spk {
    background-color: var(--blue-default);
    transition: all 0.5s;
}
.btn-spk:hover {
    background-color: var(--blue-default-hover);
    transition: all 0.5s;
}
/* -- Ícone seta botão -- */
.fa {
    margin-left: 1rem;
}
/* -- Imagems (Home / API) -- */
.elementor-image {
    width: auto;
    padding: 1.3rem;
    margin: 0 8rem 0;
}
.img-color img {
    filter: var(--filter);
}
/* ==== Seção 2/4 ==== */
.elementor-head h2 {
    font-size: 2.3125rem;
    margin-top: 2.5rem;
}
/* ==== Seção 3 ==== */
.elementor-text {
    display: block;
    text-align: center;
    font-size: 1.27rem;
    line-height: 1.7;
    padding: 1.7rem;
}
/* ==== Seção 5 ==== */
.section-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-bottom: 0.1875rem;
}
.elementor-info {
    display: flex;
    justify-content: center;
}
.card-info {
    width: 210em;
    height: 20rem;
    text-align: center;
    margin: 0 1rem;
}
.card-info-title h2 {
    font-size: 1.3rem;
}
.card-info-content {
    font-size: 1rem;
    margin: 0.625rem;
    padding: 0.3125rem;
}
.card2-info-img {
    width: 100%;
    margin-bottom: 1rem;
}
.card2 {
    margin-bottom: 4rem;
}
.card-p {
    margin-bottom: 2rem;
}
/* ==-- Responsividade --== */
@media screen and (max-width: 768px) {
    .elementor-container {
        display: block;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
        .elementor-section {
            padding: 0 0.625rem 1.25rem 0;
        }
            .elementor-box {
                padding: 0 1rem 0 1.9rem;
            }
                .elementor-column {
                    padding: 0;
                }
                    .elementor-button {
                        padding: 1rem 2rem;
                        font-size: 1.3rem;
                        text-align: center;
                        line-height: 1;
                    }
                        .fa {
                            margin-left: 0.875rem;
                            font-size: 1rem;
                        }
                            .elementor-image {
                                margin: 0;
                                width: 100%;
                            }
                                .elementor-image img {
                                    width: 100%;
                                }
                                    .card-info {
                                        width: 100%;
                                        margin: 0;
                                    }
                                    .card-info-p {
                                        border-bottom: 1px solid gray;
                                    }
                                        .card-p {
                                            padding-top: 2.5rem;
                                            margin-bottom: 0;
                                        }
}
  